#! /bin/sh
### BEGIN INIT INFO
# Provides: xlights
# Required-Start: $remote_fs $syslog
# Required-Stop: $remote_fs $syslog
# Default-Start: S
# Default-Stop:
# Short-Description: Runs Webserver to Manager WS2801 Lights
# Description: Runs Webserver to Manager WS2801 Lights
### END INIT INFO

cd /home/dietpi/xlights_WS2801
python lights.py daemon lights.json >> /var/log/xlights/`date +"%F"`.log  2>&1 &
